.Text {
  font-weight: var(--font-weight-normal);
  /* background: linear-gradient(180deg, #595959, #c5c5c5, #c5c5c5, #595959); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--font-family);
  display: inline-block;
  vertical-align: middle;
}

.Text--regular {
  line-height: var(--font-height);
  font-size: var(--font-size);
}

.Text--large {
  line-height: var(--font-height-m);
  font-size: var(--font-size-m);
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.shimmer-text {
  background: linear-gradient(to right, #595959, #c5c5c5, #c5c5c5, #595959);
  background-size: 200% 100%;
  animation: shimmer 720ms infinite cubic-bezier(0.4, 0.14, 0.3, 1);
  color: transparent;
  background-clip: text;
}

/* .shimmer {
		font-family: "Lato";
		font-weight: 300;
		font-size: 3em;
		margin: 0 auto;
		padding: 0 140px 0 0;
		display: inline;
		margin-bottom: 0;
} */

/* .shimmer {
  text-align: center;
  color: rgba(255, 255, 255, 0.1);
  background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 320px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #222;
}

@-moz-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}

@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}

@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}

@keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
} */
