.Text {
  font-weight: var(--font-weight-normal);
  background: linear-gradient(180deg, #595959, #c5c5c5, #c5c5c5, #595959);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--font-family);
  display: inline-block;
  vertical-align: middle;
}

.Text--regular {
  line-height: var(--font-height);
  font-size: var(--font-size);
}

.Text--large {
  line-height: var(--font-height-m);
  font-size: var(--font-size-m);
}
