.IconButton {
  background: transparent;
  padding: var(--spacing);
  border-radius: var(--spacing-m);
  cursor: pointer;
  border: 0;
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size);
  line-height: var(--font-height-s);
  position: relative;
}

.IconButton:hover {
  background: var(--secondary);
  color: var(--secondary) !important;
}

.IconButton:active {
  background: var(--secondary-dark);
  color: var(--secondary-dark) !important;
}

.IconButton:focus {
  box-shadow: var(--shadow-spread) var(--secondary-shadow);
}

.IconButton:disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.IconButton-Icon {
  overflow: hidden;
  flex-shrink: 0;
  user-select: none;
  line-height: inherit;
  display: flex;
  align-items: center;
  position: relative;
}

.IconButton-AI-Icon {
  position: absolute;
}

.IconButton-AI-Icon--top {
  bottom: 40%;
  left: 40%;
}

.IconButton-AI-Icon--bottom {
  top: 45%;
  left: 45%;
}
