.shimmer-text {
  display: inline-block;
  color: white;
  background: #595959 -webkit-gradient(linear, 100% 0, 0 0, from(#595959), color-stop(0.5, #c5c5c5), to(#595959));
  background-position: -4rem top;
  background-repeat: no-repeat;
  animation-fill-mode: forwards;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-name: shimmer;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  background-size: 4rem 100%;
}

@keyframes shimmer {
  0% {
    background-position: -4rem top;
  }
  50% {
    background-position: 12.5rem top;
  }
  100% {
    background-position: 12.5rem top;
  }
}
